<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boas Vindas!</title>
    <link rel="stylesheet" href="/css/pages/home.css">
    <link rel="stylesheet" href="/css/pages/header.css">
</head>
<body>
    <header th:insert="~{/pages/header :: header}"></header>
    <main>
        <h1>Bem-vindo ao Sistema</h1>
        <p>Escolha uma das opções no cabeçalho para navegar pelo sistema.</p>
    </main>
</body>
</html>
